html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: auto;
    width: auto;
}

#allar-on-noob {
    position: fixed;
    bottom: 0px;
    line-height: 3rem;
    border-radius: 5px;
    box-shadow: -25px -25px 30px -25px rgba(0, 0, 0, 0.3);
    right: 0px;
    background: transparent url("../img/allar_on_noob_2.png") no-repeat scroll 0% 0%;
    margin: 0px;
    height: 200px;
    width: 400px;
}